{{ form_start(form) }}

    <div class="form-group form-inline">
        {{ form_row(form.status) }}
    </div>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
